.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.select-menu{
   display: block;
   width: 100%;
   height:40px;
   outline:none;
   border: 1px solid #ccc;
   border-radius:5px;
   color:#666;
}
.text-start{
  text-align: left;
}
ul,li{
  padding:0;
  margin:0;
  list-style:none;
}
.font-weight-bold{
  font-weight: bold;
  font-size: 1.2rem;
}
.book-select{
  background-color:aqua;
  
}
.book{
  cursor:pointer;
  border:#666;
  box-shadow: 1px 1px 2px rgba(0,0,0.5)
}

.wrap{
  border: 3px solid aqua;
  box-shadow:5px 5px 5px aqua;
}
.heading{
  color:aqua;
  
}